*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: url("../images/background.png") no-repeat center;
    background-size: cover;
    height: 930px;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    width: 1210px;
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav{
    display: flex;
    gap: 31px;
    align-items: center;
}
nav a{
    font-family: 'Graphik', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.header_link a{
    text-decoration: none;
}
.header_link{
    display: flex;
    gap: 24px;
    align-items: center;
}
.title{
    font-family: 'Graphik', sans-serif;
    font-size: 74px;
    color: white;
    width: 692px;
    text-align: center;
    margin: 100px auto 0;
}
.subtitle{
    font-family: 'Graphik', sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
    width: 786px;
    margin: 7px auto 0;
    display: block;
}
.btn{
    font-family: 'Graphik', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 35px;
    color: white;
    text-decoration: none;
    padding: 16px 62px;
    background: #2091F9;
}
.welcome_block .btn{
    margin: 60px auto 0;
    width: max-content;
    display: block;
}
.title_block{
    font-family: 'Graphik', sans-serif;
    font-size: 48px;
    font-style: normal;
    color: #252b42;
    text-align: center;
    margin-top: 116px;
}
.subtitle_block{
    font-family: 'Graphik', sans-serif;
    font-size: 24px;
    color: #374574;
    text-align: center;
    width: 532px;
    display: block;
    margin: 17px auto 0;
}
.item{
    text-align: center;
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.item img{
    width: 61px;
    height: 61px;
}
.item h3{
    font-family: 'Graphik', sans-serif;
    font-size: 20px;
    color: #252b42;
    font-weight: 700;
}
.item span{
    font-family: 'Graphik', sans-serif;
    font-size: 18px;
    color: #374574;
    font-weight: 400;
}
.features_items{
    width: 869px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}
.preview{
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
}
.video{
    position: relative;
    height: 762px;
    margin-top: 80px;
}
.play{
    position: absolute;
    z-index: 5;
    padding: 70px;
    background: #2091F9;
    border-radius: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.desktop_text .title_block{
    text-align: center;
    width: 335px;

}
.desktop_hero .container{
    width: 1243px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desktop_text .subtitle_block{
    text-align: left;
    width: 532px;
    margin: 7px 0 0;
}
.desktop_text .btn{
    margin-top: 60px;
    display: block;
    width: max-content;
}
.desktop{
    width: 624px;
    height: 350px;
}
.desktop_hero{
    padding: 266px 0;
}
.prototyping_text .title_block{
    width: 324px;
    height: 110px;
    font-family: 'Graphik', sans-serif;
    font-size: 48px;
    color: #252B42;
    text-align: left;
    margin-top: 17px;
    font-style: normal;
    font-weight: 400;

}
.prototyping_text{
    float: right;
    margin-left: 10px;
    margin-top: 75px;
}
.prototyping_block{
    width: 173px;
    height: 28px;
    font-family: 'Graphik', sans-serif;
    font-weight: 700;
    font-size: 20px;

}
.subtitle_block {
    width: 330px;
    height: 28px;
    color: #252B42;
    font-size: 20px;
    font-family: 'Graphik', sans-serif;
    text-align: left;
    margin-top: 35px;
    margin-left: 0;
}
.subscribe .text{
    width: 273px;
    height: 54px;
    margin-top: 36px;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    background: #F4F4F4;
    display: block;
    padding: 19px 39px;
}
.subscribe .submit{
    width: 172px;
    height: 54px;
    display: block;
    background: #2091F9;
    border-radius: 35px;
    border: 1px solid #E8E8E8;
    margin-top: 36px;
    margin-left: 10px;
    padding: 19px 38px;
    color: white;
}
form{
    display: flex;
}
.partners_block{
    width: 532px;
    height: 80px;
    font-family: 'Graphik', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #374754;
    margin-left: 454px;
    display: block;
}
.partners_text .title_block{
    margin: 27px;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
}
.partners{
    margin-top: 130px;
}
.partners_carts{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    align-items: center;
    padding: 31px 40px;
    gap: 15px;
    height: 175px;
}
.partners_carts .text{
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    color: #374574;

}
.partners .container .btn{
    margin: 0 auto;
    display: block;
    width: max-content;
}
.partners_items{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1087px;
    margin: 80px auto;
    flex-wrap: wrap;
}
.t_img{
    display: block;
    margin: 80px auto 0;
}
.testimonials .container .subtitle_block{
    margin: 50px auto;
    text-align: center;
    width: 967px;
}
.author{
    margin: 0 auto;
    display: grid;
    grid-template-areas: "img name" "img info";
    width: max-content;
}
.author img{
    grid-area: img;
    margin: 13px;
}
.author_name{
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    color: #374574;
}
.author_info{
    font-family: 'Graphik', sans-serif;
    font-size: 15px;
    color: #252B42;
}
.testimonials .container .btn{
    margin: 80px auto;
    display: block;
    width: max-content;
}